* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    content: '';
    clear: both;
    display: table;
}

.white {
    color: white;
}

.black {
    color: black;
}

header {
    display: block;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    padding: 30px 0px;
}

nav {
    width: 65%;
    margin: 0px auto;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
}

nav > div > ul {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

nav > div > ul > li {
    display: inline-block;
    list-style: none;
}

nav > div > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 0px 20px;
}

#access {
    color: black;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
}


.col-1,
.col-2,
.col-3 {
    float: left;
    text-align: center;
}

.col-1,
.col-3 {
    width: 10%;
}

.col-2 {
    width: 80%;
}

.header-text {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

.title {
    font-size: 60px;
    margin-top: 130px;
}

.text {
    font-size: 25px;
    margin-top: 50px;
    font-weight: 400;
}

#download,
#open {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 35px;
    margin: 50px 20px 0px;
}

#download {
    background-color: white;
}

#open {
    background-color: rgb(51, 51, 51);
}